<div class='course-display-content'>
  <h1><%= chapter.name %></h1>
  <p><%= chapter.description %></p>
  <h5>Ce cours comprend <%= pluralize(chapter.lessons.length, 'leçon') %>:</h5>
  <% lesson_number = 0 %>
  <% chapter.lessons.each do |lesson| %>
    <% lesson_number += 1 %>
    <p class='lesson-title'><%= lesson_number %> - <%= lesson.title %></p>
  <% end %>
</div>
