<h1>My classroom</h1>

<%# Cours rattaché à la classroom, les titres des chapitres, les noms des lecons et leur contenu %>
<h2><%= @classroom.course.name %></h2>
<h3><% @classroom.course.chapters.each do |chapter| %></h3>
      <ul>
      <li>
      <h2><%= chapter.name %></h2>
      <% chapter.lessons.each do |lesson| %>
      <ul>
        <li><h3><%= lesson.title %></h3>
        <%= lesson.content %></li>
        </ul>
      <% end %>
      </li>
      </ul>
    <% end %>

    <% @classroom.course.chapters.each do |chapter| %>
      <ul>
      <li><%= chapter.name %>
      <%= chapter.description %></li>
      </ul>
    <% end %>
