<div class="container">
  <%= form_with url: "/courses/#{@course.id}/classrooms/#{@classroom.id}/quizz_submit" do |form| %>
    <% Answer.all.each do |answer| %>
    <h3><%= answer.question.content %></h3>
    <% answer.content.split(',').each_with_index do |word, index| %>
      <%= form.check_box :"user_answers[#{answer.id}][#{index + 1}]"%>
      <%= form.label :"user_answers[#{answer.id}][#{index + 1}]", word %>
      <% end %>
    <% end %>
    <%= form.submit "Validate your answers" %>
  <% end %>
</div>
