<div class='container'>
  <div class='course' data-controller="tabs">
    <div class='course-summary'>
      <div class='course-summary-content'>
        <p class="selected-tab tab-font clickable" data-action='click->tabs#display' data-tabs-index-param="0" data-tabs-target="tab">Introduction</p>
        <% index = 0 %>
        <% @course.chapters.each do |chapter| %>
          <h5 class='large-paragraph'><strong><%= chapter.name %></strong></h5>
          <% chapter.lessons.each_with_index do |lesson, i| %>
            <p class='tab-font clickable' data-action='click->tabs#display' data-tabs-index-param="<%= index += 1 %>" data-tabs-target="tab"><%= i + 1 %> - <%= lesson.title %> || <%= Lecture.find_by(lesson_id: lesson.id).status %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='course-display'>
      <div data-tabs-target="content">
        <%= render 'introduction', course: @course %>
      </div>
      <% index_btn = 0 %>
      <% @course.chapters.each do |chapter| %>
        <% chapter.lessons.each do |lesson| %>
          <div class='d-none' data-tabs-target='content'>
            <%= render 'lesson', lesson: lesson, classroom: @classroom, index: index_btn += 1 %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
