<div class='container'>
  <div class='course' data-controller="tabs">
    <div class='course-summary'>
      <div class='course-summary-content'>
        <p class="selected-tab tab-font clickable" data-action='click->tabs#display' data-tabs-index-param="0" data-tabs-target="tab">Introduction</p>
        <% index = 0 %>
        <% @course.chapters.each do |chapter| %>
          <p class='tab-font'><%= chapter.name %></p>
          <% chapter.lessons.each_with_index do |lesson, i| %>
            <p class='tab-font clickable' data-action='click->tabs#display' data-tabs-index-param="<%= index += 1 %>" data-tabs-target="tab"><%= i + 1 %> - <%= lesson.title %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='course-display'>
      <div data-tabs-target="content">
        <%= render 'introduction', course: @course %>
      </div>
      <% @course.chapters.each do |chapter| %>
        <% chapter.lessons.each do |lesson| %>
          <div class='d-none' data-tabs-target='content'>
            <%= render 'lesson', lesson: lesson, classroom: @classroom %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<%# TODO: Create a route to get the value from the answers  %>
<div class="container">
  <%= form_with url: "", method: :get do |form| %>
    <% Answer.all.each do |answer| %>
    <h3><%= answer.question.content %></h3>
    <% answer.content.split(',').each do |word| %>
      <%= form.check_box :"#{word}" %>
      <%= form.label :"#{word}", word %>
      <% end %>
    <% end %>
    <%= form.submit "Validate your answers" %>
  <% end %>
</div>
<%# TODO: Creatde a method to compare the values  %>
<%# TODO: Put a condition on the sbt generation based on the result of the quizz  %>
