<div class="container">
  <div class="spacing-quizz">
  </div>
  <div class="quizz-container">
    <%= form_with url: "/courses/#{@course.id}/classrooms/#{@classroom.id}/lectures/#{@lecture.id}/quizz_submit" do |form| %>
      <h3>Quizz: <%= @course.name %></h3>
      <% Answer.all.each do |answer| %>
      <p class="large-paragraph"><%= answer.question.content %></h3>
      <% answer.content.split(',').each_with_index do |word, index| %>
      <div class="answers-quizz">
        <%= form.check_box :"user_answers[#{answer.id}][#{index + 1}]", class: "input-quizz"%>
        <%= form.label :"user_answers[#{answer.id}][#{index + 1}]", word %>
      </div>
        <% end %>
      <% end %>
      <div class="submit-quizz">
        <%= form.submit "Valider les réponses", class:"btn-secondary-fill clickable" %>
      </div>
    <% end %>
  </div>
</div>
