
<div class="container">
  <div class="login">
    <%= image_tag "background_image_login.svg", alt: "image de fond" %>

    <div class="form-container">
      <h2>S'inscrire</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>
        <div class="input-label">
          <%= f.input :username, placeholder: 'Username', required: true, autofocus: true, input_html: { autocomplete: "username" }  %>
          <%= f.input :email,
                      placeholder: 'Email',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      placeholder: 'Mot de passe',
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      placeholder: 'Confirmation du mot de passe',
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
          <%= f.button :submit, "S'enregistrer", class: 'btn-main' %>
      <% end %>
      <div class="bottom-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
