
<div class="container">
  <div class="login">
    <%= image_tag "background_image_login.svg", alt: "image de fond" %>

    <div class="form-container">
      <h2>Mot de passe oublié ?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { "data-turbo": "false", method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="input-label">
            <%= f.input :email,
                        placeholder: 'Email',
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Réinitialiser", class: 'btn-main' %>
        </div>
      <% end %>

      <div class="mt-1">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
