<nav class="navbar" data-controller="wallet">
  <div class="container container-navbar">
    <%= link_to 'Academint', root_path, id: 'logo' %>
    <div>
      <%= render "shared/search_bar" %>
    </div>
    <ul>
      <li><a href="#" class="btn-secondary">Enseigner</a></li>
      <li><%= link_to 'Mes cours', dashboard_path, class: 'btn-secondary' %></li>
      <% if user_signed_in? %>
        <div class="avatar-menu" data-controller="dropdown" data-action="click->dropdown#showDropdown">
          <i class="fa-solid fa-bars"></i>
            <% if current_user.photo.present? %>
              <%= cl_image_tag(current_user.photo.key, class: 'avatar') %>
            <% else %>
              <%= image_tag "default_avatar_small.png", class: 'avatar' %>
            <% end %>
              <div class="status-navbar" data-wallet-target="status">
              </div>
          <div class="dropdown-menu d-none" data-dropdown-target="dropdownMenu" >
            <ul>
              <li><%= link_to 'Mon profil', dashboard_path %></li>
              <li data-wallet-target="login">
                <button data-action="click->wallet#connectWallet">
                  Connecter portefeuille
                </button>
              </li>
              <li class="d-none" data-wallet-target="logout">
                <button class="disconnect-wallet"data-action="click->wallet#disconnectWallet">
                  Déconnecter portefeuille
                </button>
              </li>
              <li><%= link_to 'Déconnexion', destroy_user_session_path, data: {turbo_method: :delete}, class: 'red' %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <li><%= link_to 'Se connecter', new_user_session_path, class: 'btn-main' %></li>
      <% end %>
    </ul>
  </div>
</nav>
