<%= render "shared/banner" %>
<div class="home-content">
  <div class="container mt-2">
    <h2>Notre sélection de cours</h2>
    <div class="display-cards">
      <%= render "shared/card" %>
      <%= render "shared/card" %>
      <%= render "shared/card" %>
    </div>
  </div>
</div>

<% @courses.each do |course| %>
<ul>
<li>
<h2><%= course.name %></h2>
<p><%= course.description %></p>
<p><%= course.level %></p>
</li>
</ul>
<% end %>
