<div class="login">
  <%= image_tag "background_image_login.svg", alt: "image de fond" %>
  <div class="container">
    <div class="form-login">
      <h2>Se connecter</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      placeholder: 'Email',
                      required: false,
                      class: 'd-none-label',
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      placeholder: 'Mot de passe',
                      required: false,
                      class: 'd-none-label',
                      input_html: { autocomplete: "current-password" } %>
          <%= f.button :submit, "Log in", class: 'btn-main w-100' %>
        </div>
          <%# <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
