<div class="container">
  <div class="login">
    <%= image_tag "background_image_login.svg", alt: "image de fond" %>

    <div class="form-container">
      <h2>Se connecter</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="input-label">
          <%= f.input :email,
                      required: false,
                      class: 'd-none-label',
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    class: 'd-none-label',
                    input_html: { autocomplete: "current-password" } %>
        </div>
        <%= f.button :submit, "S'identifier", class: 'btn-main w-100' %>

      <% end %>
      <div class="bottom-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
