<div class='course-display-content'>
  <h1><%= chapter.name %></h1>
  <p class="large-paragraph"><%= chapter.description %></p>
  <h3>Ce cours comprend <%= pluralize(chapter.lessons.length, 'leçon') %>:</h3>
  <% lesson_number = 0 %>
  <% chapter.lessons.each_with_index do |lesson, i| %>
    <p class='large-paragraph'><%= i + 1 %> - <%= lesson.title %></p>
  <% end %>
</div>
