
<div class="container mt-2">
  <% if params[:query].present? %>
    <h1><%= pluralize( @courses.count, 'cour' ) %> pour '<%= params[:query] %>'</h1>
  <% else %>
    <h1>Notre sélection de cours</h1>
  <% end %>


  <% @courses.each do |course| %>
    <%= link_to course_path(course), class: 'link-card' do %>
      <div class="card-horizontal">
        <div class="img-card-horizontal">
          <%= cl_image_tag(course.photo.key) %>
        </div>
        <div class="content-card-horizontal">
          <div class="content-top-card-horizontal">
          <h3><%= course.name %></h3>
          <p><%= course.description %></p>
          </div>
          <div class="content-bottom-card-horizontal">
            <div class="card-author">
              <%= cl_image_tag(course.user.photo.key, class: 'avatar') %>
              <p class="label"><%= course.user.username.capitalize %></p>
            </div>
            <div>
              <% if course.level == 'débutant' %>
                <button class="badge badge-beginner"><%= course.level.capitalize %></button>
              <% elsif course.level == 'intermédiaire' %>
                <button class="badge badge-intermediate"><%= course.level.capitalize %></button>
              <% elsif course.level == 'expert' %>
                <button class="badge badge-expert"><%= course.level.capitalize %></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>


</div>
