<div class="container">
  <%= simple_form_for @course do |f| %>
    <div class="input-label">
      <%= f.input :name, label: 'Nom du cours' %>
      <%= f.input :description, label: 'Description', placeholder: 'Description du cours' %>
      <%= f.input :level, collection: [ "débutant", "intermédiaire", "expert"] %>
      <%= f.input :photo, as: :file, input_html: { multiple: false } %>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
