<div class='container' data-controller="collapse">
  <div class="wrapper-no-footer">
    <%= cl_image_tag(@course.photo.key) %>
    <div class='course-display-content'>
      <h1><%= @course.name %></h1>
      <p class="large-paragraph"><%= @course.description %></p>
    </div>
    <% @course.chapters.each_with_index do |chapter, index| %>
      <h4 data-action="click->collapse#open" data-collapse-index-param="<%= index %>" data-collapse-target="chapter"><%= chapter.name %></h5>
        <div class="d-none" data-collapse-target="lesson">
          <% chapter.lessons.each do |lesson| %>
            <div class="lesson-tabs">
              <p class="disabled-link"><%= lesson.media %> || <%= lesson.title%></p>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
<div class="course-footer">
  <div class="container container-footer-course">
    <% if !current_user %>
      <%= link_to 'Commencer', new_user_session_path, class: 'btn-main' %>
    <% elsif @user_has_course && !@classroom.finished? %>
      <%= link_to 'Continuer', course_classroom_lecture_path(@course, @classroom, @classroom.ongoing_lecture), class: 'btn-main' %>
    <% elsif @user_has_course && @classroom.finished? %>
      <%= link_to 'Revoir le cours', course_classroom_lecture_path(@course, @classroom, @classroom.lectures.first), class: 'btn-main' %>
    <% else %>
      <%= button_to 'Commencer', course_classrooms_path(@course), class: 'btn-main' %>
    <% end %>
  </div>
</div>
