<div class='container'>
  <div class='course'>
    <div class='course-summary'>
      <div class='course-summary-content'>
        <%= link_to "Home", course_path(@course.id) %>
        <% @course.chapters.each do |chapter| %>
          <p class='chapter-name'><%= link_to chapter.name, course_chapter_path(@course.id, chapter) %></p>
          <% lesson_number = 0 %>
          <% chapter.lessons.each do |lesson| %>
            <% lesson_number += 1 %>
            <p class='lesson-title'><%= lesson_number %> - <%= lesson.title %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='course-display'>
      <div class='course-display-content'>
        <h1><%= @chapter.name %></h1>
        <p><%= @chapter.description %></p>
      </div>
    </div>
  </div>
</div>
